/* 0. General */

:root{
    --dark-background-color: #1f372b;
    --secondary-text-color: #E5E7EB;
    --expressive-blue-color: #f64e38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.button {
    padding: 5px 40px;
    border-radius: 6px;
    border: 3px solid;
    font-weight: bold;
    font-size: 1.2em;
}

.header,
footer {
    background-color: var(--dark-background-color);
    color: var(--secondary-text-color);
}

/* 1. Header */

.header {
    padding: 20px 200px;
}

.logo-text,
.hero-main-text {
    color: #F9FAF8;
}

.logo-text {
    font-size: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.header a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.header-navigation nav {
    align-content: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-presentation {
    margin: 100px 0;
    display: flex;
    gap: 100px;
}

.header-presentation img {
    flex-shrink: 0;
    background-color: grey;
    text-align: center;
    align-content: center;
    width: 450px;
    border-radius: 10px;
}

.presentation-main * {
    margin-bottom: 16px;
}

.blue-button {
    background-color: var(--expressive-blue-color);
    border-color: var(--expressive-blue-color);
    color: var(--secondary-text-color);
}

/* 2. Content */

/* 2.1 Information Section */

.section-information {
    padding: 2%;
}

.section-information h2 {
    color: var(--dark-background-color);
    font-weight: 900;
    font-size: 36px;
    text-align: center;

    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 70px;
    margin-bottom: 100px;
}

.card {
    width: 160px;
    text-align: center;
    color: rgb(88, 88, 88);
}

.card img {
    display: block;
    border: 4px solid var(--expressive-blue-color);
    border-radius: 8px;
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}

/* Section 2.2 Quote */

.section-quote {
    flex: 1;
    height: 470px;
    background-color: var(--secondary-text-color);
    padding: 5% 25%;
    align-content: center;
}

.quote {
    color: var(--dark-background-color);
    font-size: 36px;
    font-weight: 300;
}

.author {
    color: var(--dark-background-color);
    font-size: 1.5em;
    font-weight: 700;
    text-align: right;
}

/* Section 2.3 Call */

.section-call {
    padding: 6% 16%;
}

.call-banner {
    padding: 4% 12%;
    border-radius: 8px;
    background-color: var(--expressive-blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--secondary-text-color);
}

.white-button {
    flex-shrink: 0;
    background-color: var(--expressive-blue-color);
    border-color: var(--secondary-text-color);
    color: var(--secondary-text-color);
}

/* Footer */

.footer {
    font-size: 1.3em;
    padding: 30px;
    text-align: center;
    align-content: center;
}