/* 0. General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.button {
    padding: 1.5% 6%;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    font-size: 1em;
}

/* 1. Header */

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px 200px;
}

.logo-text,
.hero-main-text {
    color: #F9FAF8;
}

.logo-text {
    font-size: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.header-navigation nav {
    align-content: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-presentation {
    margin: 100px 0;
    display: flex;
    gap: 60px;
}

.header-presentation img {
    background-color: grey;
    text-align: center;
    align-content: center;
    width: 800px;
}

.presentation-main * {
    margin-bottom: 8px;
}

.blue-button {
    background-color: #3882F6;
    color: #E5E7EB;
}

/* 2. Content */

/* 2.1 Information Section */

.section-information {
    padding: 2%;
}

.section-information h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;

    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    margin-bottom: 100px;
}

.card {
    width: 150px;
    text-align: center;
    color: rgb(88, 88, 88);
}

.card img {
    display: block;
    border: 4px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

/* Section 2.2 Quote */

.section-quote {
    flex: 1;
    height: 470px;
    background-color: #E5E7EB;
    padding: 5% 25%;
    align-content: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.author {
    color: #1F2937;
    font-size: 1.5em;
    font-weight: 700;
    text-align: right;
}

/* Footer */