/* 0. General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.button {
    padding: 1.5% 6%;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    font-size: 1em;
}

/* 1. Header */

    .header {
        background-color: #1F2937;
        color: #E5E7EB;
        padding: 20px 200px;
    }    

    .logo-text, .hero-main-text {
        color: #F9FAF8;
    }

    .logo-text {
        font-size: 24px;
    }

    .hero-main-text {
        font-size: 48px;
        font-weight: 900;
    }

    .header a {
        color: #E5E7EB;
        text-decoration: none;
    }

    .header-navigation {
        display: flex;
        justify-content: space-between;
    }

    .header-navigation nav {
        align-content: center;
    }

    .links {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .header-presentation {
        margin: 100px 0;
        display: flex;
        gap: 60px;
    }

    .header-presentation img {
        background-color: grey;
        text-align: center;
        align-content: center;
        width: 800px;
    }

    .presentation-main * {
        margin-bottom: 8px;
    }

    .blue-button {        
        background-color: #3882F6;
        color: #E5E7EB;
    }

/* 2. Content */

/* 2.2 Information Section */

.section-information {
    padding: 2%;
}

.section-information h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}



/* Footer */