/* 0. General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Header */

    .header {
        background-color: #1F2937;
        color: #E5E7EB;
    }    

    .logo-text, .hero-main-text {
        color: #F9FAF8;
    }

    .logo-text {
        font-size: 24px;
    }

    .hero-main-text {
        font-size: 48px;
        font-weight: 900;
    }

    .header a {
        color: #E5E7EB;
        text-decoration: none;
        list-style: none;
    }

/* 2. Content */


/* Footer */